.start{
display: flex;
flex-direction: column;
gap: 20px;
}

.inputName {
  height: 40px;
  padding: 0 10px;
  width: 100%;
}

.containerDifficulty{
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 15px;
}

.dificultyName{
  padding-left: 30px;
}

.startButton{
  margin-top: 20px;
}

.startButtonDisabled{
  margin-top: 20px;
  cursor: not-allowed;
}