.container input{
  background-color: #eee;
  border: none;
  height: 50px;
  padding: 0 15px;
  border-radius: 4px;
  width: 100%;
  outline: royalblue;
  font-size: 1rem;
}

.container input:focus{
  outline: solid 3px royalblue;
}